<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page in Detail</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2>Here is your Page in Detail</h2>
    <p class="page-id">page id: <%=confession.id%></p>
    <div class="confession-container">
    <div class="card">
        <h3 class="time"><%=confession.createdAt%></h3>
        <h4 class="content"><%=confession.content%></h4>

    </div>
    </div>
</body>
</html>