h1{
    background-color: #fff;
    padding: 20px;

    text-align: center;
    color: cadetblue;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.15);

}

h2{
  text-align: center;
  color: cadetblue;
}
.page-id{
  text-align: center;
}

.confession-input{
    width :100%;
    height:100px;
    font-size: 20px;

}
 button{
    background-color:cadetblue ;
    width :80px;
    height :35px;
    border-radius: 10px;
    border-color: white;
    color: white;
    

 }

 
 body {
  font-family: Arial, sans-serif;
  background: #f5f6f8;
}

.confession-container {
  display: grid;
 grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
  max-width: 1200px;
  width: 100%;
  margin: 40px auto;
  padding: 20px;
}
.card {
  background: white;
  min-height: 250px;

  padding: 25px;
  border-radius: 10px;

  box-shadow: 0 8px 18px rgba(0,0,0,0.15);

  text-align: center;

  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}
.content {
  margin-top:20px;
  font-size: 16px;
  line-height: 1.6;
  color: #333;

  /* flex-grow: 1; */
  /* display: flex; */
  /* align-items: center;
  justify-content: center; */
  text-align :center;
}

.time{
  margin-bottom: 30px;
}


 .card:hover {
  transform: translateY(-4px);
  transition: 0.3s;
}
